<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add University|Azent</title>
    <link rel="stylesheet" href="/static/register.css">
</head>
<body>
<center>
    <div class="wrapper">
            {% block header %}
              <div class="header">{% block title %}Register{% endblock %}</div>
            {% endblock %}
            <div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    <ul class=flashes>
                    {% for category, message in messages %}
                      <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                    </ul>
                  {% endif %}
                {% endwith %}
            </div>
            {% block content %}
              <form method="post">
                <div class="input-div">
                    <input class="input-box" name="name" id="name" placeholder="University Name" required>
                </div>
                <div class="input-div">
                    <input class="input-box" name="alpha_two_code" id="alpha_two_code" placeholder="Country Code" required>
                </div>
                <div class="input-div">
                    <input class="input-box" name="country" id="country" placeholder="Country" required>
                </div>
                <div class="input-div">
                    <input class="input-box" name="domain" id="domain" placeholder="Domain" required>
                </div>
                <div class="input-div">
                    <input class="input-box" type="web_page" name="web_page" id="web_page" placeholder="Web Page" required>
                </div>
                <div class="input-div">
                    <input class="submit-btn" type="submit" value="Register">
                </div>
              </form>
            {% endblock %}
    </div>
</center>
</body>
</html>